<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing formulario</h1>

  <%= render "form", formulario: @formulario %>

  <%= link_to "Show this formulario", @formulario, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to formularios", formularios_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
