
<div>  
  <%= link_to "Departamenos", departamentos_path %>
  <br> <!-- Salto de línea -->
  <%= link_to "Areas", areas_path %>
  <br> <!-- Salto de línea -->
  <%= link_to "Formulario", formularios_path %>
  <br> <!-- Salto de línea -->
  <% if user_signed_in? %>
   <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
   <% end %>
</div>

<div class="my-4 border-t border-gray-300"></div>